<div class="d-flex justify-content-between align-items-center mb-2" id="disciplina">
  <div class="d-flex justify-content-between w-100">

    <div class="d-flex align-items-center w-100">
      <p class="m-0 fw-bold" id="nomeDisciplina">{{ disciplina.nome }}</p>
    </div>

    <div class="d-flex align-items-center w-100">
      <p class="m-0 fw-bold" id="pilarDisciplina">
        {{ disciplina.pilar }}
      </p>
    </div>

    <div class="d-flex justify-content-end w-100">
      <button class="btn btnOpcoes" (click)="onUpdate(disciplina.id ?? 0)" appOnHover color="#00bfff">
        <img src="assets/img/edit-2.png" width="15px" alt="Editar" />
      </button>

      <button class="btn btnOpcoes" (click)="onDelete(disciplina.id ?? 0)" appOnHover='red'>
        <img src="assets/img/trash.png" width="15px" alt="Excluir" />
      </button>
    </div>

  </div>
</div>
