<section class="m-1 mt-4" id="disciplinasCadastradas">
    <h5 class="fs-5 fw-bold mb-4">Reservas Agendadas</h5>

    <div *ngFor="let reserva of reservas">
      <app-reserva
        [reserva]="reserva"
        (reservaUpdate)="OpenModalUdpdate($event)"
        (reservaDelete)="OpenModalDelete($event)"
      ></app-reserva>
    </div>
</section>

<ng-template #modalUpdate>
  <app-cadastro-reserva
    (reservas)="reservaAtualizada($event)"
    tituloModal="Atualizar Reserva"
    [reserva]="reserva"
    [turmas]="turmas"
    [locais]="locais"
  ></app-cadastro-reserva>
</ng-template>

<ng-template #modalDelete>
  <app-form-modal titulo="Excluir">
      <div class="d-flex align-items-center p-3">
          <img src="assets/img/error-circle.png" class="m-1" alt="Icone de exclamação">
          <p class="m-0">Tem certeza de que deseja excluir esta reserva?</p>
      </div>

      <div class="modal-footer bg-light">
          <button id="btnCancelar" class="btnOpcoes btnForm" data-bs-dismiss="modal">Cancelar</button>
          <button id="btnExcluir" type="submit" class="btnOpcoes btnForm" data-bs-dismiss="modal" (click)="excluir()">Excluir</button>
      </div>
  </app-form-modal>
</ng-template>
