.modal-title {
  color: #183884;
}

.modal-footer {
  border: none;
  padding: 10px 0px;
}

.btnForm, .btn-primary{
  padding: 8px 22px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  color: white;
  background: #183884;
  transition: 0.5s;
  cursor: pointer;
}

#salvar:hover {
  opacity: 0.8;
}

#voltar {
  border: 1px solid #183884;
  background: #FFFFFF;
  color:  #183884;

  &:hover {
    background: #183884;
    color: #FFFFFF;
  }
}
