<lib-toastify-toast-container
  [hideProgressBar]="hideProgressBar"
  [iconLibrary]="'font-awesome'"
>
</lib-toastify-toast-container>

<section class="m-1 mt-4" id="turmasCadastradas">
  <h5 class="fs-5 fw-bold mb-4">Turmas Cadastradas</h5>

  <div id="titulo">
    <div class="d-flex justify-content-between 100%">
      <div class="d-flex align-items-center w-100">
        <h5 class="fs-6">NOME</h5>
      </div>

      <div class="d-flex align-items-center w-100">
        <h5 class="fs-6">QUANTIDADE</h5>
      </div>

      <div class="d-flex align-items-center w-100">
        <h5 class="fs-6">PILAR</h5>
      </div>

      <div class="d-flex align-items-center w-100">
        <h5 class="fs-6">CATEGORIA</h5>
      </div>

      <h5 class="d-flex align-items-center w-100"></h5>
    </div>
  </div>
</section>

<ng-template #modalUpdate>
  <app-turma-form (idTurma)="turmaAtualizada($event)" [turma]="turma" tituloModal="Atualiza Turma"></app-turma-form>
</ng-template>

<ng-template #modalDelete>
  <app-form-modal titulo="Excluir">
    <div class="d-flex align-items-center p-3">
      <img src="assets/img/error-circle.png" class="m-1" alt="Icone de exclamação">
      <p class="m-0">Tem certeza de que deseja arquivar esta turma?</p>
    </div>

    <div class="modal-footer bg-light">
      <button id="btnCancelar" class="btnOpcoes btnForm" data-bs-dismiss="modal">Cancelar</button>
      <button id="btnExcluir" type="submit" class="btnOpcoes btnForm" data-bs-dismiss="modal" (click)="excluir()">Excluir</button>
    </div>
  </app-form-modal>
</ng-template>

<section class="m-1 mt-4 fw-bold">
  <div *ngFor="let turma of turmas | FindByNamePipe: search">
    <app-turma
      [turma]="turma"
      (idUpdate)="OpenModalUdpdate($event)"
      (idDelete)="OpenModalDelete($event)"
    >
    </app-turma>
  </div>
</section>
