<div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center align-items-center" style="width: 400px; height: 200px;">
      <div class="text-center alert alert-danger">
        <h2>Error 404!</h2>
        <div class="d-flex">
          <p>Página não encontrada</p>
          <i class='bx bxs-traffic-barrier bx-sm bx-flashing'></i>
        </div>
        <div>
          <a class="alert-link">Voltar para a tela inicial!</a>
        </div>
      </div>
    </div>
  </div>
